/*  your css code here. If applicable */

.card{
	width:500px;
	border: 2px solid darkmagenta;
	margin:auto;
	border-radius: 15px;
	align-item:center;
	box-shadow: rgb(214, 151, 24);

}
img{
	align-item:justify;
	margin:50px 100px;
}

h1,p{
	text-align:center;
}

button{
	padding:15px;
	margin:20px 200px;
	background-color:orangered;
	color:white;
	border-radius: 15px:	
}