/*  your css code here. If applicable */

.card{
	width:500px;
/* 	margin:auto; */
	border-radius: 15px;
	align-item:center;
}

h1,p{
	text-align:center;
}

button{
	padding:15px;
	background-color:orange;
	color:white;
	border-radius: 15px:
}